<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzq.message.dao.MessageMapper">


    <insert id="insert" parameterType="com.hzq.message.entity.Message">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="messageId != null">
                message_id,
            </if>
            <if test="messageDataType != null">
                message_data_type,
            </if>
            <if test="consumerQueue != null">
                consumer_queue,
            </if>
            <if test="messageSendTimes != null">
                message_send_times,
            </if>
            <if test="isDead != null">
                is_dead,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="field1 != null">
                field1,
            </if>
            <if test="field2 != null">
                field2,
            </if>
            <if test="field3 != null">
                field3,
            </if>
            <if test="editor != null">
                editor,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="messageBody != null">
                message_body,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="messageId != null">
                #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="messageDataType != null">
                #{messageDataType,jdbcType=VARCHAR},
            </if>
            <if test="consumerQueue != null">
                #{consumerQueue,jdbcType=VARCHAR},
            </if>
            <if test="messageSendTimes != null">
                #{messageSendTimes,jdbcType=SMALLINT},
            </if>
            <if test="isDead != null">
                #{isDead,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="field1 != null">
                #{field1,jdbcType=VARCHAR},
            </if>
            <if test="field2 != null">
                #{field2,jdbcType=VARCHAR},
            </if>
            <if test="field3 != null">
                #{field3,jdbcType=VARCHAR},
            </if>
            <if test="editor != null">
                #{editor,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="messageBody != null">
                #{messageBody,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getMessageByMessageId" resultType="com.hzq.message.entity.Message">
    select * from message where message_id =  #{messageId,jdbcType=VARCHAR}
  </select>

    <update id="updateByPk" parameterType="com.hzq.message.entity.Message">
        update message
        <set>
            <if test="messageId != null">
                message_id = #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="messageDataType != null">
                message_data_type = #{messageDataType,jdbcType=VARCHAR},
            </if>
            <if test="consumerQueue != null">
                consumer_queue = #{consumerQueue,jdbcType=VARCHAR},
            </if>
            <if test="messageSendTimes != null">
                message_send_times = #{messageSendTimes,jdbcType=SMALLINT},
            </if>
            <if test="isDead != null">
                is_dead = #{isDead,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="field1 != null">
                field1 = #{field1,jdbcType=VARCHAR},
            </if>
            <if test="field2 != null">
                field2 = #{field2,jdbcType=VARCHAR},
            </if>
            <if test="field3 != null">
                field3 = #{field3,jdbcType=VARCHAR},
            </if>
            <if test="editor != null">
                editor = #{editor,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="messageBody != null">
                message_body = #{messageBody,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteMessageByMessageId">
        delete from message where message_id =  #{messageId,jdbcType=VARCHAR}
    </delete>


    <select id="selectMessagesByParam" resultType="com.hzq.message.entity.Message">
        slect * from message
        <where>
            <if test="queueName != null">
                and consumer_queue = #{queueName}
            </if>
            <if test="isDead != null">
                and is_dead = #{idDead}
            </if>
        </where>

    </select>

    <select id="getLimitMessageByParam" resultType="com.hzq.message.entity.Message">
        select * from message
        where consumer_queue = #{queueName}
        and status = #{status}
        and created_at &lt; date_sub(now(), interval #{times}  minute)
        limit #{count}
    </select>

</mapper>