<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzq.account.dao.AccountMapper" >

  <select id="getAccountByMerchantId" resultType="com.hzq.account.entity.Account" >
    select 
    *
    from account
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </select>


  <update id="addAmountByMerchantId">
    update account set balance = balance + #{amount} where merchant_id = #{merchantId}
  </update>


  <insert id="insert" parameterType="com.hzq.account.entity.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="unbalance != null" >
        unbalance,
      </if>
      <if test="securityMoney != null" >
        security_money,
      </if>
      <if test="totalIncome != null" >
        total_income,
      </if>
      <if test="totalExpend != null" >
        total_expend,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="unbalance != null" >
        #{unbalance,jdbcType=DECIMAL},
      </if>
      <if test="securityMoney != null" >
        #{securityMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalIncome != null" >
        #{totalIncome,jdbcType=DECIMAL},
      </if>
      <if test="totalExpend != null" >
        #{totalExpend,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.hzq.account.entity.Account" >
    update account
    <set >
      <if test="accountNo != null" >
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="unbalance != null" >
        unbalance = #{unbalance,jdbcType=DECIMAL},
      </if>
      <if test="securityMoney != null" >
        security_money = #{securityMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalIncome != null" >
        total_income = #{totalIncome,jdbcType=DECIMAL},
      </if>
      <if test="totalExpend != null" >
        total_expend = #{totalExpend,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>